
html {
    box-sizing: border-box;
    background-color: rgb(141, 130, 130);
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  .img-fluid {
    width: 100%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
  .my-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .navbar-content {
    position: relative;
    left: 500px;
  }
  .logoBr {
    width: 200px;
    --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
  .filter-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  .form-search {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    padding: 0.4rem;
    background-color: rgb(255, 255, 255);
    border-radius: 0.5rem;
  }
  .form-search i {
    opacity: 0.5;
  }
  .form-search input {
    border: none;
    outline: none;
    margin-left: 1rem;
  }
  /*MAIN*/
  .grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 4rem;
  }
  .card-content {
    padding: 2rem;
    line-height: 0.75rem;
    --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  
    background-color: blanchedalmond;
  }
  @media (max-width: 1000px) {
    .logoBr {
      position: relative;
      left: -40%;
    }
  
    .grid {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
  @media (max-width: 750px) {
    .logoBr {
      position: relative;
      left: -70%;
    }
  
    .grid {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
  @media (max-width: 600px) {
    .logoBr {
      position: relative;
      left: -100%;
    }
    .filter-content {
      flex-direction: column;
      align-items: flex-start;
    }
    .grid {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
  /*custom selector*/
  .custom-select {
      position: relative;
      font-family: Arial;
    }
    
    .custom-select select {
      display: none; /*hide original SELECT element: */
    }
    
    .select-selected {
      background-color: rgb(4, 85, 4);
    }
    
    /* Style the arrow inside the select element: */
    .select-selected:after {
      position: absolute;
      content: "";
      top: 14px;
      right: 10px;
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-color: #fff transparent transparent transparent;
    }
    
    /* Point the arrow upwards when the select box is open (active): */
    .select-selected.select-arrow-active:after {
      border-color: transparent transparent #fff transparent;
      top: 7px;
    }
    
    /* style the items (options), including the selected item: */
    .select-items div,.select-selected {
      color: #ffffff;
      padding: 6px 16px;
      border: 1px solid transparent;
      border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
      cursor: pointer;
    }
    
    /* Style items (options): */
    .select-items {
      position: absolute;
      background-color: rgb(12, 87, 12);
      top: 100%;
      left: 0;
      right: 0;
      z-index: 99;
    }
    
    /* Hide the items when the select box is closed: */
    .select-hide {
      display: none;
    }
    
    .select-items div:hover, .same-as-selected {
      background-color: rgba(0, 0, 0, 0.1);
    }
    
  p {
    line-height: 1.2;
  }
  .card:hover .card__background{
    transform: scale(1.20) translateZ(0);
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    transition: 
      filter 200ms linear,
      transform 200ms linear;
  }
  
  .card-grid:hover > .card:not(:hover) .card__background{
    filter: brightness(.5) saturate(0) contrast(2.2) blur(50px);
  }
  
  